$background: #000000;
$foreground: #ffffff;
$accent: #e34a45;
$icon_mini: 18px;
$icon_small : 26px;
$icon_medium : 48px;
$icon_large : 60px;


*{ all:unset;  }

box,button {
   background-color: $background;
}

button {
   label { 
      padding: 25px 0;
      transition: 1s;
   }

}


