$background: #921617;
$foreground: #ffffff;
$empty :#414140;
$accent: #ffffff;
$page_selected: #ffffff;
$occupied_bg: #ffffff;
$occupied_fg: #000000;
$current_bg: #ffffff;
$current_fg: #000000;


$bshadow: 0 1px 4px 0 rgba(0, 0, 0, 1), 0 1px 3px 0 rgb(23, 23, 23);
$tshadow: 1px 1px 1px black, 0 0 25px black, 0 0 1px black;

$icon_mini: 18px;
$icon_small : 26px;
$icon_medium : 38px;
$icon_large : 60px;
$transition: 1s;
$text_medium: 14px;
$text_big: 24px;
$shadow: 1px 1px 0px 0 rgba(160, 160, 160, 0.2), 5px 5px 0px 0 rgba(160, 160, 160, 0.19);
$space_small: 5px;
$space_medium: 8px;
$space_big: 12px;
$space_large: 18px;

* {
	all: unset;
}

//box{ background-color: $background; }
scale trough {
	background-color: red;
}

scale {
	all: unset;
	min-height: 50px;

	trough {
		all: unset;
		background-color: $background;
		min-height: $space_large;
		min-width: $space_medium;
	}

	highlight {
		background-color: $accent;
	}
}
.bar { 
	 //background-color: #ffffff;
}
.top {
	.logo {
		color: $accent;
		font-size: $icon_mini;
		margin: 14px;
		text-shadow: $tshadow;
		transition: 1s;
	}

	.logo:hover {
		text-shadow: none;
		transition: 1s;
	}

	color: $foreground;
	font-weight: 300;
	//text-shadow: $tshadow;


}

.middle {


	.workspace-entry {
		margin: 0 5px;
		font-weight: bold;
		color: $foreground;
	}

	.empty {
		font-weight: 300;
	}

	.current {
		font-weight: 400;
		background-color: $current_bg;
		margin: 5px 6px;
		border-radius: 5px;
		color: $current_fg;
		box-shadow: $bshadow;
		padding: 0px 7px;
		text-shadow: none;
	}

}

.bottom {
	font-weight: 300;
	color: $foreground;

	.icon {
		font-size: $icon_mini;
	}

	.icon:hover {
		color: $accent;
		transition: $transition;
	}

	.slider {
		scale {
			min-height: 0px;
		}
	}

	.power {
		button {
			color: $background;
			padding: $space_small 0;
			transition: $transition;
		}

		button:hover {
			transition: $transition;
			background: $background;
			color: $accent
		}

		background: $accent;
	}
}

.slide_top {
	.info_card_image {
		background-size: 375px;
		min-height: 200px;
		background-repeat: no-repeat;
	}

	.info label {
		padding: $space_medium
	}
}

.slide_middle {
	.shortcuts {
		button {
			padding: $space_big;
			font-size: $text_big;
			transition: $transition;
		}

		button:hover {
			background: $accent;
			color: $background;
			transition: $transition;
		}
	}

	.fm_shortcuts>* {
		padding: $space_medium;

		*>* {
			padding: $space_medium;
			transition: $transition;
		}

		*>*:hover {
			background: $accent;
			color: $background;
			transition: $transition;
		}
	}
}

.status {
	//border:1px solid red;
	//font-size: $text_medium;

	.slider scale trough {
		min-width: 300px;
		min-height: $space_big;
		padding: 0 $space_big;
	}

	.status_item {
		margin: 5px;
		//padding-right: 25px;
	}

}

.cal {
	color: $foreground
}

//.slide_bottom {
//color: $foreground;

//.slider {
//font-size: $text_medium;
//}

//.net {
//padding: $space_small 0;
//}

//.date {
//font-size: $text_big;
//padding: $space_big;
//}

//.slider_power {
//button {
//font-size: $text_big;
//padding: $space_big;
//transition: $transition;
//}

//button:hover {
//background: $accent;
//transition: $transition;
//}
//}
//}

.slide {

	//background-color: #000000;

}

.slide_left {
	.sl_box {
		margin: 80px;
	}

	button {
		margin: 5px;
		padding: 50px;

		background-color: #ffffff;
		color: #000000;
		border-radius: 5px;
		transition: .5s;
		box-shadow: $bshadow;
	}

	button:hover {
		background-color: #000000;
		color: #ffffff;
		transition: .5s;
	}

}
