$text_light:#d5e5ff;
$text_dark: #3c3d42;
$accent1:#3a4d98;
$accent2:#863adc;
$background: #191923;
$dark: #18171d;
$light: #5e5f61;
* {
	all: unset;
	font-family: iosevka;
	color: #bfa19b;
}

.bar{
	 background-color: #181a1b;
	 padding-left: 15px;
	 padding-right:15px;
}

.bottom_view { 
	 background-color: red;
	 border: 5px solid green;
}
.bv_status { 
	 background-color: blue;
}
.bv_header { 
	 background-color: green;
	 padding: 15px
}
.bv_body{ 

}

.x { 
	 background-color: $background;
}
.cal-box {
	background-color: $background;
  font-size: 14px;
	color: $text_light;
	font-weight: 400;

  .cal-inner-box {
      padding: 15px;
      .cal {

					padding: 3px;
          margin-left: 10px;
      }
  }
}

calendar:selected {
	color: $accent2;
}

calendar.header {
color: $text_light;
font-weight: bold;
}

calendar.button {
color: $text_light ;
}

calendar.highlight {
color: $text_dark ;
font-weight: bold;
}

calendar:indeterminate {
color: $text_dark;
}
tooltip {
  background-color: $background;
	color: whitesmoke;
	font-size: 16px;
}
